.container-banner {
  width: 100vw;
  height: 100vh;
  // background-image: url(../../../../assets/banner/prewedding-1.jpeg/);
  background-image: url(../../../../assets/banner/prewed-4.jpg/);
  background-attachment: fixed;
  background-size: cover;
  background-position: 0px -200px;
  overflow: hidden;

  @media (max-width: 1480px) {
    background-position: 0 -480px;
  }

  @media (max-width: 480px) {
    background-image: url(../../../../assets/banner/prewed-2.jpg/);
    background-attachment: unset !important;
    background-size: cover !important;
    background-position: 0px 0px;
  }

  .hero-body {
    height: 100%;
    display: flex;
    align-items: flex-end;

    @media (max-width: 480px) {
      padding: 10px;
    }

    .container {
      margin-bottom: 10%;
      height: 60%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;

      @media (max-width: 480px) {
        margin-bottom: 59px;
        height: 60%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
      }

      .section-invitation {
        .title {
          color: var(--color-perfect-woodlight);
          font-weight: bold;
          font-size: 28px;
          font-family: "Dancing Script", handwriting;
          margin-bottom: 2px !important;

          .guest {
            text-transform: capitalize;
          }

          @media (max-width: 480px) {
            font-weight: bold;
            font-size: 17px;
            font-family: "Dancing Script", handwriting;
            margin-bottom: 2px !important;
          }
        }

        .subtitle {
          color: var(--color-perfect-woodlight);
          font-size: 17px;
          width: 18%;
          font-family: "Dancing Script", handwriting;

          @media (max-width: 480px) {
            font-size: 10px;
            width: 37%;
            font-family: "Dancing Script", handwriting;
          }
        }
      }

      .section-couple {
        .title {
          font-weight: 700;
          font-size: 40px;
          color: var(--color-perfect-woodlight);

          @media (max-width: 480px) {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 2px !important;
          }
        }

        .subtitle {
          font-size: 20px;
          color: var(--color-perfect-woodlight);

          @media (max-width: 480px) {
            font-size: 10px;
          }
        }
      }
    }
  }
}
