.container-about-us {
  max-width: unset;
  padding-top: 3em;
  padding-bottom: 6em;

  @media (max-width: 480px) {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  .container-about-us__title {
    width: 100%;
    text-align: center;
    color: var(--color-dope-black);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;

    @media (max-width: 480px) {
      font-size: 20px;
    }
  }

  .columns-desktop {
    @media (max-width: 480px) {
      display: none;
    }

    .card-person {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;

      .card-person__frame {
        border: 20px solid var(--color-perfect-wood);
        width: 300px;
        box-shadow: 8px 9px 2px 1px var(--color-shadow);

        .card-person__img {
          box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
          bottom: 22%;
          left: 2vw;
          top: -4vw;
          // position: relative;
          display: block;
        }
      }

      .card-person__title {
        text-align: center;
        color: var(--color-cool-black);
        font-size: 20px;
        font-weight: 700;
      }
      .card-person__desc {
        text-align: center;
        color: var(--color-cool-black);
      }
    }
  }

  .columns-mobile {
    display: none;

    @media (max-width: 480px) {
      display: block;
    }

    .slick-slider {
      .slick-list {
        div {
          margin-left: 0px;
        }
        .slick-track {
          .slick-slide {
          }
        }
      }

      .slick-dots {
        bottom: -30px;

        li {
          button {
            &::before {
              font-size: 11px;
            }
          }
        }
      }
    }

    .card-person {
      display: flex !important;
      flex-flow: column nowrap;
      align-items: center;

      .card-person__frame {
        width: 200px;
        border: 12px solid var(--color-perfect-wood);

        .card-person__img {
          box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
          bottom: 22%;
          left: 2vw;
          top: -4vw;
          display: block;
          width: 200px;
          position: static;
        }
      }

      .card-person__title {
        text-align: center;
        color: var(--color-cool-black);
        font-size: 15px;
        font-weight: bold;
      }
      .card-person__desc {
        text-align: center;
        color: var(--color-cool-black);
        font-size: 10px;
      }
    }
  }
}
