.navbar-desktop {
  padding: 0px 10%;
  box-shadow: 0px 0px 10px -5px var(--color-shadow);

  @media (max-width: 480px) {
    display: none;
  }

  .navbar-item {
    color: var(--color-perfect-wood) !important;
  }
}

.navbar-mobile {
  display: none !important;

  @media (max-width: 480px) {
    display: flex !important;
    padding: 8px 0px !important;
    box-shadow: 0 0 5px 0 #303337;
    display: flex;
    justify-content: space-around;
    text-align: center;

    .menu {
      .fa {
        font-size: 27px;
      }
      .menu__title {
        color: var(--color-perfect-wood);
        font-size: 11px;
        font-weight: 300;
      }
    }
  }
}
