.navbar-desktop {
  display: flex;
  flex-flow: column nowrap;
  padding: 0px 10%;
  box-shadow: 0px 0px 10px -5px var(--color-shadow);

  @media (max-width: 480px) {
    display: none !important;
  }

  .section-top {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;

    .navbar-brand {
      color: var(--color-perfect-wood) !important;

      .navbar-item {
        font-size: 12px;
        color: var(--color-perfect-wood) !important;

        &:hover {
          cursor: default;
          text-decoration: unset;
        }
      }
    }

    .navbar-burger {
      color: var(--color-perfect-wood) !important;
    }

    .navbar-menu {
      .navbar-item {
        font-size: 12px;
        color: var(--color-perfect-wood) !important;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }

  .section-bottom {
    width: 100%;

    .navbar-menu {
      background-color: transparent;

      &.navbar-menu--tablet {
        display: none;
        padding: 0px;

        &.is-active {
          display: block;
        }

        .navbar-item {
          font-size: 12px !important;
          font-family: "Poppins", helvetica !important;
          color: var(--color-perfect-wood) !important;

          &:first-child {
            border-top: 1px solid;
          }

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.navbar-mobile {
  display: none !important;

  @media (max-width: 480px) {
    display: flex !important;
    padding: 10px 0px !important;
    box-shadow: 0 0 5px 0 #303337 !important;
    display: flex !important;
    justify-content: space-around !important;
    text-align: center !important;

    .menu {
      &:hover {
        cursor: pointer;
      }

      .fa {
        color: var(--color-perfect-wood) !important;
        font-size: 22px !important;
      }
      .menu__title {
        color: var(--color-perfect-wood) !important;
        font-size: 9px !important;
        font-weight: 300 !important;
      }
    }
  }
}
