.container-gallery {
  max-width: unset;
  background-color: var(--color-dope-black);
  padding: 50px 0px 150px 0px;

  @media (max-width: 480px) {
    padding: 50px 0px 150px 0px;
  }

  .container-gallery-head {
    .container-gallery__title {
      width: 100%;
      text-align: center;
      color: var(--color-perfect-wood);
      font-size: 24px;
      font-weight: 600;
      line-height: 1.125;

      @media (max-width: 480px) {
        font-size: 20px;
      }
    }

    .hr-custom {
      border: 1px solid var(--color-perfect-wood) !important;
    }
  }

  .container-gallery-body {
    &.columns-desktop {
      margin: 20px 50px 0px 50px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 50px;

      @media (max-width: 1024px) {
        grid-gap: 20px;
      }

      @media (max-width: 480px) {
        display: none;
      }

      .card-person {
        display: flex !important;
        flex-flow: column nowrap;
        align-items: center;

        .card-person__frame {
          // width: 200px;
          // width: 80vw;
          border: 20px solid var(--color-perfect-wood);

          .card-person__img {
            bottom: 22%;
            left: 2vw;
            top: -4vw;
            display: block;
            // width: 200px;
            position: static;
          }
        }

        .card-person__title {
          text-align: center;
          color: var(--color-cool-black);
          font-size: 15px;
          font-weight: bold;
        }
        .card-person__desc {
          text-align: center;
          color: var(--color-cool-black);
          font-size: 10px;
        }
      }
    }

    &.columns-mobile {
      display: none;

      @media (max-width: 480px) {
        display: block;
      }

      .slick-slider {
        .slick-list {
          div {
            margin-left: 0px;
          }
          // .slick-track {
          //   .slick-slide {
          //   }
          // }
        }

        .slick-dots {
          bottom: -30px;

          li {
            button {
              &::before {
                font-size: 11px;
                color: var(--color-perfect-wood) !important;
              }
            }
          }
        }
      }

      .card-person {
        display: flex !important;
        flex-flow: column nowrap;
        align-items: center;

        .card-person__frame {
          // width: 200px;
          width: 80vw;
          border: 12px solid var(--color-perfect-wood);

          .card-person__img {
            bottom: 22%;
            left: 2vw;
            top: -4vw;
            display: block;
            // width: 200px;
            position: static;
          }
        }

        .card-person__title {
          text-align: center;
          color: var(--color-cool-black);
          font-size: 15px;
          font-weight: bold;
        }
        .card-person__desc {
          text-align: center;
          color: var(--color-cool-black);
          font-size: 10px;
        }
      }
    }
  }
}
